body{
	color:#84AE9A;
	font-family:ubuntu;
}
code{
	color:black;
	background: #EEE;
}
h1, a:link, #headlink{
	color:#CD5C5C;
}
a:visited, a:hover{
	color:#DABDAB;
}
#Header_img{
	float:right;
}
#headlink{
	text-decoration: none;
}
